<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34544395457-avebkocbnrc2fmm7b9il8d8qg7omg9c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34544395457-avebkocbnrc2fmm7b9il8d8qg7omg9c8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34544395457-pkgad78ef0nhafs1qkvrba6715f5a4od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiITccOpJohQis4q8LHAYej3W2z-yXioI</string>
	<key>GCM_SENDER_ID</key>
	<string>34544395457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tfmApp</string>
	<key>PROJECT_ID</key>
	<string>tfmapp-265113</string>
	<key>STORAGE_BUCKET</key>
	<string>tfmapp-265113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34544395457:ios:f3213245e7e628aaa5a040</string>
	<key>DATABASE_URL</key>
	<string>https://tfmapp-265113.firebaseio.com</string>
</dict>
</plist>